.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  background-color: #e1e4e4;
}

.header .navbar {
  padding: 20px 0;
  font-size: 13px;
  position: relative;
}

.header .navbar .navbar-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 50% 10%;
      grid-template-columns: 30% 50% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 2px solid rgba(128, 128, 128, 0.534);
  padding-bottom: 5px;
}

.header .navbar .navbar-grid img {
  width: 90px;
  height: 20px;
  position: relative;
}

.header .navbar .navbar-grid .navbar-logo-phone {
  width: 156px;
  height: 21px;
}

.header .navbar .navbar-grid ul {
  list-style-type: none;
  font-family: Montserrat-Regular,AdobeInvisFont,MyriadPro-Regular;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .navbar-grid ul li {
  display: inline-block;
  padding: 0 20px;
}

.header .navbar .navbar-grid ul li a {
  text-decoration: none;
  color: #83A7A5;
}

.header .navbar .navbar-grid ul li a:hover {
  color: #08f8ec;
}

.header .navbar .navbar-grid button {
  width: 111px;
  height: 33px;
  background-color: #6FB048;
  border-radius: 5px;
  border: 1px solid #6FB048;
  color: white;
  font-size: 12px;
  position: relative;
}

.header .header-text {
  width: 40%;
  margin: 50px auto;
  color: #0F5F5C;
  text-align: center;
  font-family: Roboto-Light,AdobeInvisFont,MyriadPro-Regular;
}

.header .header-text h1 {
  font-size: 32px;
}

.header .grid {
  display: -ms-grid;
  display: grid;
  width: 60%;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin: 0 auto;
  font-family: Roboto-Light,AdobeInvisFont,MyriadPro-Regular;
}

.header .grid div {
  padding: 20px;
  text-align: center;
  border: 1px solid #dbd8d8;
  border-radius: 4px;
  background-color: white;
  color: #0F5F5C;
}

.header .grid div h4 {
  color: #6FB048;
  margin: 0%;
  padding: 0%;
}

.header .grid div h1 {
  color: #0F5F5C;
  margin: 0%;
  padding: 0%;
  margin-top: 15px;
  font-size: 30px;
  font-family: Montserrat-Regular,AdobeInvisFont,MyriadPro-Regular;
}

.header .grid div b {
  color: #0F5F5C;
  margin: 0%;
  padding: 0%;
  font-size: 14px;
}

.header .grid div p {
  width: 60%;
  line-height: 25px;
  margin: 10px auto;
  color: #83A7A5;
  font-family: Roboto-Regular,AdobeInvisFont,MyriadPro-Regular;
  font-size: 14px;
  text-align: center;
}

.header .grid div button {
  background: #83A7A5;
  color: white;
  width: 70%;
  height: 15%;
  border-radius: 5px;
  border: 1px solid #83A7A5;
  margin: 20px 0;
}

.header .grid .grid-item2 button {
  background: #6FB048;
}

.header .header-buttom {
  color: #83A7A5;
  font-family: Roboto-Regular,AdobeInvisFont,MyriadPro-Regular;
  font-size: 14px;
  text-align: center;
  padding: 30px 0 80px 0;
}

.manu {
  margin: 50px auto;
  color: #0F5F5C;
  font-family: Roboto-Light,AdobeInvisFont,MyriadPro-Regular;
}

.manu h1 {
  font-size: 32px;
  text-align: center;
  margin: 0;
}

.manu hr {
  border: 2px solid #0F5F5C;
  width: 10%;
}

.manu .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin: 50px 0;
}

.manu .grid img {
  padding-right: 10px;
  margin-bottom: -5px;
}

.manu .text {
  color: #0F5F5C;
  text-align: center;
}

.manu .text h1 {
  font-size: 32px;
  margin: 0;
}

.manu .text hr {
  border: 2px solid #0F5F5C;
  width: 10%;
}

.manu .text p {
  color: #83A7A5;
}

.manu .text a {
  font-size: 18px;
  text-decoration: none;
  color: #0F5F5C;
  font-weight: bold;
}

.col {
  background: url(../img/col.png);
  background-position: 200px;
  height: 201px;
  width: 100%;
  position: relative;
  color: #0F5F5C;
}

.col::before {
  content: '';
  background: rgba(243, 242, 241, 0.947);
  position: absolute;
  width: 100%;
  height: 201px;
}

.col .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 201px;
  position: relative;
  font-family: Roboto-Light,AdobeInvisFont,MyriadPro-Regular;
}

.col .grid button {
  width: 286px;
  height: 43px;
  background-color: #41682b;
  border: 1px solid #426b2b;
  border-radius: 5px;
  color: white;
  font-family: Montserrat-Regular,AdobeInvisFont,MyriadPro-Regular;
}

.footer {
  margin-top: 80px;
}

.footer .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  color: #83A7A5;
  font-family: Roboto-Regular,AdobeInvisFont,MyriadPro-Regular;
  font-size: 14px;
  border-bottom: 2px solid #EEF1EC;
  padding-bottom: 50px;
}

.footer .grid .grid-item li {
  list-style-type: none;
  padding: 10px 0;
  font-weight: bold;
}

.footer .grid .grid-item li a {
  text-decoration: none;
  color: #0F5F5C;
  font-weight: normal;
}

.footer .grid .grid-item input {
  background-image: url(../img/telegram.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 242px;
  height: 37px;
  background-color: #EEF1EC;
  border: 1px solid #EEF1EC;
}

.footer-navbar .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
  color: #83A7A5;
  font-family: Roboto-Regular,AdobeInvisFont,MyriadPro-Regular;
  font-size: 12px;
}

.footer-navbar .grid img {
  margin-left: 8px;
  border-radius: 50%;
}

.footer-navbar .grid .logo1 {
  padding: 5px;
  background: #55ACEE;
}

.footer-navbar .grid .logo2 {
  padding: 5px 10px;
  background: #3B5998;
}

.footer-navbar .grid .logo3 {
  padding: 5px;
  background: #3F729B;
}

.footer-navbar .grid .logo4 {
  padding: 5px;
  background: #EA4C89;
}

.footer-navbar .grid .logo5 {
  padding: 5px;
  background: #333333;
}

@media (max-width: 1199px) {
  .header .navbar .navbar-grid {
    -ms-grid-columns: auto  auto;
        grid-template-columns: auto  auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .col .grid {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (max-width: 991px) {
  .header .navbar .navbar-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .header .header-text {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .footer .grid {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .header .grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 567px) {
  .col .container .grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 479px) {
  .col .grid button {
    width: 100%;
  }
  .manu .grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .footer .grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .footer-navbar .grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 320px) {
  .footer .grid .grid-item input {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */